/* --------------------------------------------------------
Style Sheet for XYZ Project

version: 1.0.0
last modified: dd/mm/yyyy by Viet Huong
author: Viet Huong
email: viethuong2072000@gmail.com
----------------------------------------------------------*/